<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}" />
      <mat-card-content>
        <p>
          {{ dish.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h2>Comments</h2>
    <mat-list>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p mat-line>
          {{ comment.comment }}
        </p>
        <p mat-line>
          {{ comment.rating }} Stars
        </p>
        <p mat-line>
          -- {{ comment.author }} {{ comment.date | date}}
        </p>
      </mat-list-item>

      <!-- Comment preview -->
      <mat-list-item *ngIf="commentForm.valid">
        <p mat-line>
          {{ commentForm.value.comment }}
        </p>
        <p mat-line>
          {{ commentForm.value.rating }} Stars
        </p>
        <p mat-line>
          -- {{ commentForm.value.author }}
        </p>
      </mat-list-item>
    </mat-list>

    <form novalidate [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()">
      <p>
        <mat-input-container class="full-width" dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <mat-hint>
            <span [hidden]="!(formErrors.author)">
              {{formErrors.author}}</span>
          </mat-hint>
        </mat-input-container>
      </p>
      <p>
        <mat-slider thumbLabel tickInterval="1" min="1" max="5" step="1" formControlName="rating"></mat-slider>
      </p>
      <p>
        <mat-input-container class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
          <mat-hint>
            <span [hidden]="!(formErrors.comment)">
              {{formErrors.comment}}</span>
          </mat-hint>
        </mat-input-container>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>

    </form>
  </div>

  <div [hidden]="dish">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>

</div>