  <div class="container"
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutAlign.gt-md="space-around center"
      fxLayoutGap="10px" 
      fxLayoutGap.xs="0">

      <div fxFlex="40" *ngIf="dish">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{dish.image}} alt={dish.name}}>
          <mat-card-content>
            <p>{{dish.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail',prev]">
              <span class="fa fa-chevron-left fa-lg"></span>
            </button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail',next]">
              <span class="fa fa-chevron-right fa-lg"></span>
            </button>
          </mat-card-actions>
        </mat-card> 
      </div>

  <div fxFlex="60" class="full-width" *ngIf="dish">
      <h3>Comments</h3>
    <mat-list class="full-width">
      <mat-list-item  *ngFor="let comment of dish.comments">
          <p matLine> {{comment.comment}} </p>
          <p matLine> {{comment.rating}} Stars</p>
          <p matLine> -- {{comment.author}}, {{comment.date | date:'MMM d, y':'+2400'}} </p>
    </mat-list-item>
    <mat-list-item  *ngIf="!commentForm.invalid">
      <p matLine> {{commentForm.value.comment}} </p>
      <p matLine> {{commentForm.value.rating}} Stars</p>
      <p matLine> -- {{commentForm.value.author}} </p>
    </mat-list-item>
    </mat-list>    
      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-input-container class="full-width"
              dividerColor="{{formErrors.author ? 'warn':'primary'}}">
            <input matInput formControlName="author" placeholder="Name" type="text" required>
            <mat-hint>
              <span [hidden]="!(formErrors.author)">{{formErrors.author}}</span>
            </mat-hint>
          </mat-input-container>
          <mat-slider min="1" max="5" step="1" value="5" thumbLabel tickInterval="1" formControlName="rating"></mat-slider>
          <mat-input-container class="full-width"
            dividerColor="{{formErrors.comment ? 'warn':'primary'}}">
            <input matInput formControlName="comment" placeholder="Your Comment" type="text" required>
            <mat-hint>
              <span [hidden]="!(formErrors.comment)">{{formErrors.comment}}</span>
            </mat-hint>
          </mat-input-container>
        </p>
        <button type="submit" mat-raised-button class="mat-raised-button mat-primary" color="primary" [disabled]="commentForm.invalid">Submit</button>
      </form>
  </div>
</div>
  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading... Please wait</h4>
  </div>





