<div class="container" fxLayout="row" fxLayout.sm="column"
	fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
	fxLayoutGap="10px" fxLayoutGap.xs="0">

	<div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
		<div fxFlex>
			<mat-card> 
			<mat-card-header> 
			<mat-card-title>
			<h3>{{dish.name | uppercase}}</h3>
			</mat-card-title> 
			</mat-card-header> 
			<img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}> 
			<mat-card-content>
			<p>{{dish.description}}</p>
			</mat-card-content> 
			<mat-card-actions>
				<button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
				<button mat-button (click)="goBack()">BACK</button>
				<button mat-button>LIKE</button>
				<button mat-button>SHARE</button>
				<span class="flex-spacer"></span>
				<button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
			</mat-card-actions> 
			</mat-card>
		</div>
	</div>

	<div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
		<div fxFlex>
			<mat-card> 
				<mat-card-header> 
					<mat-card-title>
						<h3>{{"Comments" }}</h3>
					</mat-card-title> 
				</mat-card-header>
				<mat-card-content> 
					<mat-list role="list">
						<mat-list-item role="listitem" *ngFor="let c of dish.comments">
							<p matLine role="listitem">{{c.comment}}</p>
							<p matLine role="listitem">{{c.rating}} stars</p>
							<p matLine role="listitem">-- {{c.author}} {{c.date | date}}</p>
						</mat-list-item>
						<mat-list-item *ngIf="commentForm.valid">
							<p  matLine role="listitem">{{commentForm.value.comment}}</p>
							<p  matLine role="listitem">{{commentForm.value.rating}} stars</p>
							<p  matLine role="listitem">-- {{commentForm.value.author}}</p>
							</mat-list-item>
					</mat-list> 
					<form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
 					<p>
 					<mat-input-container class="full-width"
		             dividerColor="{{(formErrors.name) ? 'warn' : 'primary'}}">
					<input matInput formControlName="author" placeholder="Name" type="text" required>
        		 	</mat-input-container>
	              	<mat-hint>
		                <span [hidden]="!(formErrors.author)">{{formErrors.author}}</span>
	              	</mat-hint>
	              	</p>
	              	<p>
	              	<mat-slider formControlName="rating"thumbLabel tickInterval="1" min="1" max="5"></mat-slider>
			        </p>
			        <p>
		            <mat-input-container class="full-width">
		              <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
		            </mat-input-container>
		             <mat-hint>
		                <span [hidden]="!(formErrors.comment)">{{formErrors.comment}}</span>
	              	</mat-hint>
		          	</p>
		          	  <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
					</form>
				</mat-card-content> 	
			</mat-card>	
		</div>
	</div>
	  <div [hidden]="dish || errMess">
	    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
	  </div>
	  <div *ngIf="errMess">
	    <h2>Error</h2>
	    <h4>{{errMess}}</h4>
	  </div>
</div>


