<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{DISH.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{DISH.image}} alt={{DISH.name}}>
      <mat-card-content>
        <p>{{DISH.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">
    <mat-list>
    <h3>Comments</h3>
      <mat-list-item *ngFor="let comment of comment">
        <h1 mat-line>{{comment.comment}}</h1>
        <h1 mat-line>{{comment.rating}} Stars</h1>
        <h1 mat-line>-- {{comment.author}} {{comment.date | date: 'mediumDate'}}</h1>
      </mat-list-item>
    </mat-list>
     
  </div>

</div>
