<div fxFlex *ngIf="dish" class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">

    <div>
      <h3>Comments</h3>
    </div>

    <mat-list *ngFor="let comment of dish.comments">
      <p>{{comment.comment}}</p>
      <p>-- {{comment.author}} {{comment.date | date:'MMM d, y'}}</p>
    </mat-list>
  </div>

</div>